// page,
// uni-page-body {
//     height: 100%;
// }

html {
    background-color: $uni-bg-color-grey;
}

html {
    max-width: 430px;
    margin: 0 auto;
    // transform: translate(0, 0); // fixed定位也得基于body
    // overflow: scroll;
}